@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.n-mx-1 {
  margin-left: -5px !important;
  margin-right: -5px !important; }

.n-mx-2 {
  margin-left: -10px !important;
  margin-right: -10px !important; }

.n-mt-1 {
  margin-top: -5px !important; }

.n-mt-2 {
  margin-top: -10px !important; }

a:hover {
  color: #eb641c;
  text-decoration: none; }

.t11 {
  font-size: 11px; }

.t14 {
  font-size: 14px; }

.t16 {
  font-size: 16px; }

.t18 {
  font-size: 18px; }

.t21 {
  font-size: 21px; }

.gray-blue {
  color: #37474f; }

.gray-blue-dark {
  color: #102027; }

.gray-blue-light {
  color: #62727b; }

.dark {
  color: #222222; }

.light-gray {
  color: #c8c8c8; }

.display-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #62727b; }

html, body {
  height: 100%; }

body {
  font-family: "Poppins", sans-serif; }

.wrapper {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto; }
  @media only screen and (max-width: 1023px) {
    .wrapper {
      padding: 0 10px; } }

.relative {
  position: relative; }

.block {
  display: block; }

.bread-list {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 30px; }
  .bread-list.no-gap {
    margin-bottom: 0; }
  .bread-list ul {
    margin-left: 16px;
    margin-bottom: 5px; }
    .bread-list ul li {
      font-size: 11px;
      color: #62727b;
      margin-right: 6px;
      text-transform: uppercase;
      letter-spacing: .25px;
      font-family: "Open Sans", sans-serif;
      line-height: 1; }
      .bread-list ul li a {
        color: #102027;
        font-weight: 600; }
      .bread-list ul li:after {
        content: '>';
        display: inline-block;
        margin-left: 8px; }
      .bread-list ul li:last-child:after {
        content: none; }

input {
  -webkit-transition: .2s outline ease;
  transition: .2s outline ease; }
  input:focus {
    outline: 2px solid #eb641c; }

form.main-search {
  max-width: 100%; }
  form.main-search label {
    position: relative;
    max-width: 220px; }
  form.main-search input[type="search"] {
    display: block;
    width: 100%;
    color: #102027;
    line-height: 58px;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #c8c8c8; }
    form.main-search input[type="search"]:-moz-placeholder {
      font-size: 17px;
      color: #102027;
      opacity: .5;
      font-style: italic;
      font-weight: 300;
      letter-spacing: .5px; }
      @media only screen and (max-width: 1023px) {
        form.main-search input[type="search"]:-moz-placeholder {
          font-size: 12px; } }
    form.main-search input[type="search"]::-moz-placeholder {
      font-size: 17px;
      color: #102027;
      opacity: .5;
      font-style: italic;
      font-weight: 300;
      letter-spacing: .5px; }
      @media only screen and (max-width: 1023px) {
        form.main-search input[type="search"]::-moz-placeholder {
          font-size: 12px; } }
    form.main-search input[type="search"]:-ms-input-placeholder {
      font-size: 17px;
      color: #102027;
      opacity: .5;
      font-style: italic;
      font-weight: 300;
      letter-spacing: .5px; }
      @media only screen and (max-width: 1023px) {
        form.main-search input[type="search"]:-ms-input-placeholder {
          font-size: 12px; } }
    form.main-search input[type="search"]::-webkit-input-placeholder {
      font-size: 17px;
      color: #102027;
      opacity: .5;
      font-style: italic;
      font-weight: 300;
      letter-spacing: .5px; }
      @media only screen and (max-width: 1023px) {
        form.main-search input[type="search"]::-webkit-input-placeholder {
          font-size: 12px; } }
  form.main-search input[type="submit"] {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    border: 0;
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url("/img/ico_search.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

*:-moz-placeholder {
  font-size: 14px;
  color: #102027;
  opacity: .5;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .25px; }

*::-moz-placeholder {
  font-size: 14px;
  color: #102027;
  opacity: .5;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .25px; }

*:-ms-input-placeholder {
  font-size: 14px;
  color: #102027;
  opacity: .5;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .25px; }

*::-webkit-input-placeholder {
  font-size: 14px;
  color: #102027;
  opacity: .5;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .25px; }

.light-card {
  padding: 12px 8px 12px 14px;
  border: 1px solid #c8c8c8;
  border-radius: 4px; }

header {
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fff; }
  header h1#branding {
    line-height: 1;
    margin: 0; }
    header h1#branding img {
      vertical-align: middle; }
      @media only screen and (max-width: 1023px) {
        header h1#branding img {
          width: 100%;
          margin-bottom: 6px; } }

nav ul li a.nav-link {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  color: #102027;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
  padding: 0 15px; }
  nav ul li a.nav-link:hover {
    color: #eb641c; }
  @media only screen and (max-width: 1023px) {
    nav ul li a.nav-link {
      padding: 0 10px; } }

footer {
  padding: 8px 0;
  border-top: 1px solid #f0f0f0;
  background-color: #fff; }
  footer span {
    font-size: 12px;
    color: #102027;
    letter-spacing: .25px; }

.main-bg {
  background-image: url("/img/main-bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

body.home.alternate .main-bg {
  margin-top: -30px;
  height: 280px;
  background-image: url("/img/main-bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  body.home.alternate .main-bg form.main-search {
    padding-bottom: 0; }

body.home.alternate footer {
  position: static; }

body.home footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

body.home form.main-search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 680px;
  padding-bottom: 40px; }
  @media only screen and (max-width: 767px) {
    body.home form.main-search {
      text-align: center; }
      body.home form.main-search input[type="search"] {
        margin: 0 auto;
        width: calc(100% - 30px);
        line-height: 4; } }

.list-header {
  margin: 20px 0; }

@media only screen and (max-width: 1023px) {
  .result {
    width: 100%; } }

.result p {
  font-size: 21px;
  letter-spacing: .25px;
  line-height: 2;
  color: #888888;
  margin-bottom: 0; }
  .result p strong {
    font-weight: 600;
    color: #eb641c; }
  @media only screen and (max-width: 1023px) {
    .result p {
      font-size: 18px;
      text-align: center;
      width: 100%; } }

@media only screen and (max-width: 1023px) {
  .filter-header {
    padding: 15px 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    text-align: center; } }

.filter-header span {
  font-size: 14px;
  color: #37474f;
  letter-spacing: .25px;
  margin-right: 8px;
  line-height: 2.5; }
  @media only screen and (max-width: 1023px) {
    .filter-header span {
      font-size: 11px; } }

.filter-header select {
  background: transparent;
  border: 1px solid #37474f;
  font-size: 14px;
  letter-spacing: .25px;
  color: #888888;
  padding: 0 6px;
  height: 36px;
  border-color: #eb641c; }

.filter-header .list-format {
  margin-left: 28px; }
  @media only screen and (max-width: 1023px) {
    .filter-header .list-format {
      display: none; } }
  .filter-header .list-format a {
    display: inline-block;
    margin-left: 6px; }
    .filter-header .list-format a img {
      opacity: .75; }
    .filter-header .list-format a:hover img {
      opacity: 1; }

.list-imovel.format-col .list-item {
  margin-right: 6px;
  width: calc((100% / 3) - 6px);
  border-bottom: 0; }
  .list-imovel.format-col .list-item .format-item > div {
    max-width: none;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-left: 4px;
    padding-right: 4px; }
  .list-imovel.format-col .list-item ul {
    margin: 10px 0; }
  .list-imovel.format-col .list-item h2 {
    font-size: 21px; }
  .list-imovel.format-col .list-item .thumb {
    margin-bottom: 10px; }
  .list-imovel.format-col .list-item .thumb-tag {
    font-size: 11px; }
  .list-imovel.format-col .list-item .bottom {
    position: static;
    margin-top: 15px; }
    .list-imovel.format-col .list-item .bottom .format-nopad {
      padding-left: 5px;
      padding-right: 5px; }
  .list-imovel.format-col .list-item p.price {
    font-size: 12px; }
    .list-imovel.format-col .list-item p.price strong {
      font-size: 14px; }
    .list-imovel.format-col .list-item p.price.price-2 {
      font-size: 18px; }
      .list-imovel.format-col .list-item p.price.price-2 strong {
        font-size: 21px; }
  .list-imovel.format-col .list-item .btn {
    font-size: 11px;
    padding: 0 6px;
    margin-right: 4px; }

.list-imovel.format-col.column-4 .list-item {
  width: calc((100% / 4) - 10px); }

.list-imovel.list-relac {
  margin-top: 30px; }
  .list-imovel.list-relac > .slick-prev {
    left: -60px; }
  .list-imovel.list-relac > .slick-next {
    right: -60px; }
  .list-imovel.list-relac .description {
    display: none; }
  .list-imovel.list-relac .list-item .slick-arrow {
    opacity: 0;
    -webkit-transition: .2s opacity ease;
    transition: .2s opacity ease; }
  .list-imovel.list-relac .list-item:hover .slick-arrow {
    opacity: 1; }

.list-imovel .list-item {
  position: relative;
  margin-bottom: 34px;
  border-bottom: 1px solid #e4e4e4; }
  @media only screen and (max-width: 1023px) {
    .list-imovel .list-item .thumb-list {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw; } }
  .list-imovel .list-item.list-single {
    border-bottom: 0; }
    .list-imovel .list-item.list-single .thumb.main-thumb {
      height: 420px;
      background-repeat: no-repeat;
      background-color: #62727b;
      background-size: cover;
      background-position: center;
      margin-bottom: 40px; }
      @media only screen and (max-width: 1023px) {
        .list-imovel .list-item.list-single .thumb.main-thumb {
          height: 280px; } }
    .list-imovel .list-item.list-single .imovel-title {
      text-align: center;
      margin-bottom: 20px; }
      .list-imovel .list-item.list-single .imovel-title h2 {
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #eb641c; }
      .list-imovel .list-item.list-single .imovel-title .address {
        font-size: 16px;
        letter-spacing: .5px; }
    .list-imovel .list-item.list-single p.price {
      font-size: 18px; }
      .list-imovel .list-item.list-single p.price strong {
        font-size: 28px; }
    .list-imovel .list-item.list-single ul {
      margin: 15px 0;
      padding: 8px 10px;
      list-style: none; }
      .list-imovel .list-item.list-single ul.list-price li {
        font-size: 15px;
        margin-bottom: 10px;
        padding-left: 20px; }
        .list-imovel .list-item.list-single ul.list-price li.big {
          padding-left: 0; }
          .list-imovel .list-item.list-single ul.list-price li.big strong {
            font-size: 24px;
            margin-bottom: 10px; }
      .list-imovel .list-item.list-single ul.light-card {
        padding: 12px 8px 12px 14px;
        border: 1px solid #c8c8c8;
        border-radius: 4px; }
      .list-imovel .list-item.list-single ul li {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .25px;
        color: #102027;
        line-height: 1.4;
        margin-bottom: 20px; }
        .list-imovel .list-item.list-single ul li strong {
          color: #37474f; }
        .list-imovel .list-item.list-single ul li:last-child {
          margin-bottom: 10px; }
    .list-imovel .list-item.list-single .description {
      max-height: none;
      overflow: initial;
      margin-bottom: 40px; }
      .list-imovel .list-item.list-single .description h3 {
        margin-top: 25px;
        font-size: 18px;
        color: #37474f;
        font-weight: 700;
        line-height: 1;
        letter-spacing: .75px;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif; }
      .list-imovel .list-item.list-single .description p {
        font-size: 14px;
        color: #888888;
        letter-spacing: .25px;
        word-spacing: .25px;
        line-height: 1.8;
        font-family: "Open Sans", sans-serif; }
      .list-imovel .list-item.list-single .description ul {
        list-style: none;
        margin: 15px 0;
        padding: 0; }
        .list-imovel .list-item.list-single .description ul li {
          font-size: 11px; }
          .list-imovel .list-item.list-single .description ul li:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            background-color: #62727b;
            margin-right: 5px;
            margin-bottom: 2px; }
    .list-imovel .list-item.list-single .group-btn {
      margin: 25px 0; }
      .list-imovel .list-item.list-single .group-btn .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 3;
        letter-spacing: .5px;
        font-weight: 700;
        border-width: 2px;
        color: #fff;
        background-color: #eb641c; }
        .list-imovel .list-item.list-single .group-btn .btn:hover {
          background-color: #d2582d; }
  .list-imovel .list-item .thumb {
    width: 100%;
    height: 240px;
    display: block;
    position: relative; }
    .list-imovel .list-item .thumb .src {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center; }
  .list-imovel .list-item .thumb-tag {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: -4px;
    background-color: #eb641c;
    border-bottom: 2px solid #d2582d;
    padding: 0 12px;
    line-height: 2;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .25px; }
  .list-imovel .list-item .address {
    font-size: 13px;
    color: #888888;
    letter-spacing: .25px;
    word-spacing: .25px;
    line-height: 1.4; }
  .list-imovel .list-item h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    letter-spacing: .25px;
    font-weight: 600;
    line-height: 1;
    color: #37474f; }
    .list-imovel .list-item h2:hover {
      color: #eb641c; }
  .list-imovel .list-item .description {
    max-height: 63px;
    overflow: hidden; }
    .list-imovel .list-item .description p {
      font-size: 13px;
      color: #888888;
      letter-spacing: .25px;
      word-spacing: .5px;
      line-height: 1.6;
      font-family: "Open Sans", sans-serif; }
  .list-imovel .list-item ul {
    margin: 20px 0; }
    .list-imovel .list-item ul li {
      font-size: 12px;
      margin-right: 15px;
      letter-spacing: .25px;
      font-family: "Open Sans", sans-serif;
      color: #62727b;
      text-transform: uppercase; }
      .list-imovel .list-item ul li strong {
        margin-right: 2px; }
  .list-imovel .list-item .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 10px; }
  .list-imovel .list-item .btn {
    display: inline-block;
    padding: 0 12px;
    line-height: 2.5;
    text-transform: uppercase;
    letter-spacing: .25px;
    font-size: 13px;
    color: #37474f;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #eb641c; }
    .list-imovel .list-item .btn:hover {
      color: #fff;
      background-color: #eb641c; }
  .list-imovel .list-item p.price {
    font-size: 14px;
    color: #888888;
    letter-spacing: .25px;
    line-height: 1.3;
    font-family: "Open Sans", sans-serif;
    margin: 0; }
    .list-imovel .list-item p.price strong {
      color: #37474f;
      font-size: 20px;
      word-spacing: 1px; }

@media only screen and (max-width: 1023px) {
  .list-imovel .list-item {
    margin-right: 6px;
    width: calc((100% / 3) - 6px);
    border-bottom: 0; }
    .list-imovel .list-item .format-item > div {
      max-width: none;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      padding-left: 4px;
      padding-right: 4px; }
    .list-imovel .list-item ul {
      margin: 10px 0; }
    .list-imovel .list-item h2 {
      font-size: 21px; }
    .list-imovel .list-item .thumb {
      margin-bottom: 10px; }
    .list-imovel .list-item .thumb-tag {
      font-size: 11px; }
    .list-imovel .list-item .bottom {
      position: static;
      margin-top: 15px; }
      .list-imovel .list-item .bottom .format-nopad {
        padding-left: 5px;
        padding-right: 5px; }
    .list-imovel .list-item p.price {
      font-size: 12px; }
      .list-imovel .list-item p.price strong {
        font-size: 14px; }
      .list-imovel .list-item p.price.price-2 {
        font-size: 18px; }
        .list-imovel .list-item p.price.price-2 strong {
          font-size: 21px; }
    .list-imovel .list-item .btn {
      font-size: 11px;
      padding: 0 6px;
      margin-right: 4px; }
  .list-imovel .list-item {
    width: 100% !important; } }

aside #close-btn {
  display: none; }

aside #submit-btn {
  display: none; }

aside .filter {
  padding: 12px 8px 12px 14px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  padding: 8px 0;
  display: none;
  text-align: center;
  background-color: #eb641c;
  margin-bottom: 20px; }
  aside .filter:hover {
    background-color: #d2582d; }
  aside .filter span {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: .25px;
    font-size: 14px;
    text-transform: uppercase; }

@media only screen and (max-width: 1023px) {
  aside .aside-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 60px 20px 0;
    z-index: 9999; }
  aside .filter {
    display: block; }
  aside #close-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #37474f;
    letter-spacing: 1px;
    padding: 10px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    background-color: #e4e4e4;
    text-align: center;
    z-index: 9999; }
  aside #submit-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 0;
    display: block;
    width: 100%;
    background-color: #eb641c;
    text-align: center;
    text-transform: uppercase;
    z-index: 9999; } }

aside h3 {
  font-size: 16px;
  color: #102027;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }
  @media only screen and (max-width: 1023px) {
    aside h3 {
      font-size: 14px;
      margin-bottom: 20px; }
      aside h3:before {
        content: '+';
        display: inline-block;
        color: #37474f;
        margin-right: 6px; } }

aside ul {
  margin: 0 0 20px;
  padding: 0 0 10px;
  list-style: none;
  border-bottom: 1px solid #e4e4e4; }
  @media only screen and (max-width: 1023px) {
    aside ul {
      display: none; } }
  aside ul:last-child {
    border-bottom: none; }
  aside ul li {
    display: block;
    line-height: 1.6; }
    aside ul li label {
      font-size: 13px;
      color: #37474f;
      letter-spacing: .25px;
      margin-left: 8px;
      cursor: pointer; }
      @media only screen and (max-width: 1023px) {
        aside ul li label {
          font-size: 12px; } }
    aside ul li input[type="checkbox"] {
      vertical-align: middle;
      display: none; }
      aside ul li input[type="checkbox"] + .check {
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid #eb641c;
        border-radius: 2px;
        margin-bottom: -2px; }
      aside ul li input[type="checkbox"]:checked + .check {
        background-color: #eb641c; }
  aside ul form input[type="search"] {
    font-size: 14px;
    line-height: 3; }
    aside ul form input[type="search"]:-moz-placeholder {
      font-size: 13px;
      opacity: .75; }
      @media only screen and (max-width: 1023px) {
        aside ul form input[type="search"]:-moz-placeholder {
          font-size: 12px; } }
    aside ul form input[type="search"]::-moz-placeholder {
      font-size: 13px;
      opacity: .75; }
      @media only screen and (max-width: 1023px) {
        aside ul form input[type="search"]::-moz-placeholder {
          font-size: 12px; } }
    aside ul form input[type="search"]:-ms-input-placeholder {
      font-size: 13px;
      opacity: .75; }
      @media only screen and (max-width: 1023px) {
        aside ul form input[type="search"]:-ms-input-placeholder {
          font-size: 12px; } }
    aside ul form input[type="search"]::-webkit-input-placeholder {
      font-size: 13px;
      opacity: .75; }
      @media only screen and (max-width: 1023px) {
        aside ul form input[type="search"]::-webkit-input-placeholder {
          font-size: 12px; } }
  aside ul.group-price li {
    width: 40%;
    margin-right: 10px;
    display: inline-block;
    position: relative; }
    aside ul.group-price li:after {
      content: 'R$';
      display: inline-block;
      width: 20px;
      text-align: center;
      position: absolute;
      left: 4px;
      bottom: 6px;
      font-size: 14px;
      color: #102027;
      opacity: .5;
      letter-spacing: .25px; }
    aside ul.group-price li label {
      margin: 0;
      width: 100%; }
    aside ul.group-price li input {
      width: 100%;
      padding: 0 5px 0 25px;
      font-size: 14px;
      color: #37474f;
      line-height: 2;
      margin-top: 4px; }
      aside ul.group-price li input:-moz-placeholder {
        font-style: unset;
        text-align: right; }
        @media only screen and (max-width: 1023px) {
          aside ul.group-price li input:-moz-placeholder {
            font-size: 12px; } }
      aside ul.group-price li input::-moz-placeholder {
        font-style: unset;
        text-align: right; }
        @media only screen and (max-width: 1023px) {
          aside ul.group-price li input::-moz-placeholder {
            font-size: 12px; } }
      aside ul.group-price li input:-ms-input-placeholder {
        font-style: unset;
        text-align: right; }
        @media only screen and (max-width: 1023px) {
          aside ul.group-price li input:-ms-input-placeholder {
            font-size: 12px; } }
      aside ul.group-price li input::-webkit-input-placeholder {
        font-style: unset;
        text-align: right; }
        @media only screen and (max-width: 1023px) {
          aside ul.group-price li input::-webkit-input-placeholder {
            font-size: 12px; } }

.pagger-list {
  margin: 15px 0 40px;
  text-align: center; }
  .pagger-list ul {
    margin: 0;
    padding: 0;
    display: inline-block; }
    .pagger-list ul li {
      display: inline-block;
      margin: 0 2px 8px;
    }

.page-item.active .page-link{
  background-color: #eb641c;
  border: 1px solid #8c6645;
}

      .pagger-list ul li a {
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        display: block;
        color: #eb641c;
        line-height: 2.4;
        padding: 0 12px;
        border: 1px solid #eb641c;
        -webkit-transition: .2s all ease;
        transition: .2s all ease; }
        .pagger-list ul li a:not([href]):not([tabindex]) {
          color: #fff;
          background-color: #eb641c; }
        .pagger-list ul li a:hover {
          color: #fff;
          background-color: #eb641c; }

.wrap-relac {
  margin-top: 40px; }

.slick-arrow {
  border: none;
  background-color: unset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 107px;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
  outline: 0 !important; }
  .slick-arrow.slick-prev {
    background-image: url(../img/arrow_slide_left.svg); }
  .slick-arrow.slick-next {
    background-image: url(../img/arrow_slide_right.svg);
    left: unset;
    right: 0; }
  .slick-arrow.slick-disabled {
    opacity: .5;
    cursor: initial; }

.info-box {
  padding: 12px 8px 12px 14px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  padding: 12px;
  display: none;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
  text-align: center; }
  .info-box span {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #102027;
    letter-spacing: .5px; }
  .info-box form {
    text-align: left; }
    .info-box form input,
    .info-box form textarea {
      display: block;
      width: 100%;
      line-height: 2;
      margin-bottom: 10px;
      color: #102027;
      padding: 0 10px;
      border: 1px solid #c8c8c8;
      border-radius: 2px; }
    .info-box form textarea {
      padding-top: 5px;
      line-height: 1.2;
      height: 80px; }
    .info-box form input[type="checkbox"] {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin-bottom: 0; }
    .info-box form label {
      display: inline-block;
      font-size: 12px;
      color: #102027;
      line-height: 1.6;
      vertical-align: middle; }
    .info-box form input[type="submit"] {
      display: inline-block;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 3;
      letter-spacing: .5px;
      font-weight: 700;
      border-width: 0;
      color: #fff;
      background-color: #eb641c; }
      .info-box form input[type="submit"]:hover {
        background-color: #d2582d; }

form.form-bottom {
  margin-top: 30px;
  background-color: #f2f2f2;
  padding: 30px 0; }
  form.form-bottom input,
  form.form-bottom textarea {
    display: block;
    width: 100%;
    line-height: 2;
    margin-bottom: 10px;
    color: #102027;
    padding: 0 10px;
    border: 1px solid #c8c8c8;
    border-radius: 2px; }
  form.form-bottom textarea {
    padding-top: 5px;
    line-height: 1.2;
    height: calc(100% - 10px); }
  form.form-bottom input[type="checkbox"] {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-bottom: 0; }
  form.form-bottom label {
    display: inline-block;
    font-size: 12px;
    color: #102027;
    line-height: 1.6;
    vertical-align: middle; }
  form.form-bottom input[type="submit"] {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: .5px;
    font-weight: 700;
    border-width: 0;
    color: #fff;
    background-color: #eb641c; }
    form.form-bottom input[type="submit"]:hover {
      background-color: #d2582d; }

@media only screen and (min-width: 560px) {
  .width-col-sm-7 {
    max-width: calc((1260px / 12) * 7); } }
